.mr-2 {
    margin-right: 2rem;
}

.mt-2 {
    margin-top: 2rem;
}

.shooting{
    animation: 2s fadeIn;
    animation-iteration-count: infinite;
}

@keyframes fadeIn {
    0% {
      opacity: 0%
    }
    50% {
      opacity: 100%;
    }
  100% {
      opacity: 0%
    }
  }