.loader_bg{
    position: fixed;
    z-index: 999999;
    background: rgb(37, 37, 37);
    width: 100%;
    height: 100%;
}
.loader{
    border: 0 soild transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}
.loader:before, .loader:after{
    content: '';
    border: 1em solid #fffffffd;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}
.loader:before{
    animation-delay: .5s;
}
@keyframes loader{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    75%{
        transform: scale(2);
        opacity: 0;
    }
    100%{
        transform: scale(3);
        opacity: 0;
    }
}



.texto-loading
{
    color: aliceblue; 
    margin-top: 10%
}



.texto-animado {
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, rgb(37, 37, 37), rgb(255, 255, 255), rgb(37, 37, 37));
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    text-align: center;
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }
